{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block links %} 
    
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" media="screen" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">    

    <title>{% block title %} {% endblock %}</title>
</head>
<body>

    <!-- Navegation Menu start -->
    <header>
        <div class="logo">
            <a href="/encuestas" class="logo"><img id="imagen_logo" src="{% static 'img/LogoHD.png' %}" alt="Logo2" width="170" height="40"></a>
        </div>
        
    
        <nav class="navbar">
            <a id="encuestas" class="{% block cls_encuestas %} {% endblock %}"   href="/encuestas">Inicio</a>
            <a id="mis_encuestas" class="{% block cls_encuesta %} {% endblock %}" href="/mis_encuestas">Mis Encuestas</a>
            <a id="publicar" class="{% block cls_publicar %} {% endblock %}" href="/publicar_encuesta">Publicar Encuesta</a>
            <a id="manual" class="{% block cls_manual %} {% endblock %}" href="/manual">Manual de Uso</a>
        </nav>
    
        <div class="user">
            <div class="user_points">
                <div class="mis_puntos">Mis puntos</div>
                <div class="points mis_puntos">{{ puntos }}</div>
            </div>
            
            <div class="user_name" id="user_name">
                {% if user.is_authenticated %}
                <i class='fa fa-user'></i><div class="usuario">{{ user.first_name }}</div><span class="fa fa-sort-desc" id="arrow" aria-hidden="true"></span>
                {% endif %}
                <div class="close_session_nv" id="close_session">
                    <div class="cuser usuario">Cuenta</div>
                    <div class="cuser"> <a href=/manual#publicar1 >¿Cómo publicar una encuesta?</a> </div>
                    <div class="cuser"> <a href=/manual#responder1 >¿Cómo obtener puntos?</a> </div>
                    <div class="cuser2"> <a href="javascript:;" onclick="reportar()">Reportar Mal Uso</a> </div>
                    <a href="{% url 'encuestas:cerrar_sesion' %}" class="close_session_btn">Cerrar Sesión</a>
                </div>
            </div>    
        </div>
    
    </header>
    <!-- Navegation Menu end -->



    <!-- content's view start -->

      <div class="modal-reporte" id="reportar-info">
        <div class="contenido-modal">
            <span id="cerrar-reportar-info" onclick="cerrar()">&times;</span>
            <div class="titulo-modal">
                <h1 class="titulo-info-reporte"> ¿CÓMO Y CUÁNDO REPORTAR UN MAL USO DE LA APLICACIÓN? </h1>
                <br>
                <h2 class="subtitulo-info-reporte"> ¿Cuándo reportar? </h2>
                <div class="texto-info-reporte">
                    El usuario tendrá derecho a reportar en 2 casos generales.
                    <ul class="anotaciones-info-reporte">
                        <li class="punto-info-reporte">Si se encuentra alguna irregularidad en alguna encuesta publicada en la plataforma, haciendo referencia a, por ejemplo, no encontrarse el código para el reclamó de puntos al final de la encuesta correspondiente.</li>
                        <li class="punto-info-reporte">Si el propietario de una encuesta presencia respuestas malintencionadas (no contesta, contesta cualquier cosa, entre otros.) en alguna de las respuestas recibidas por parte de otro usuario.</li>
                    </ul>
                </div>
                <br>
                <h2 class="subtitulo-info-reporte">¿Cómo reportar? </h2>
                <div class="texto-info-reporte">
                    Para realizar el reporte y hacer efectiva una notificación o castigo al usuario correspondiente, se tienen que seguir los siguientes pasos, dependiendo del caso.
                    <ul class="anotaciones-info-reporte">
                        <li class="punto-info-reporte">Si se trata de alguna irregularidad en alguna encuesta publicada, escribe un mensaje al correo "ejemplo@gmail.com" , y en el asunto del correo escribir "IRREGULARIDAD ENCUESTA PUBLICADA". A continuación describe la irregularidad y adjunta tanto el enlace de la encuesta, como una imagen en donde sea visible la encuesta y la irregularidad detectada.</li>
                        <li class="punto-info-reporte">En caso de tratarse de respuestas malintencionadas, tienes que enviar un mensaje al correo "ejemplo@gmail.com", y en el asunto del correo escribir "RESPUESTAS MALINTENCIONADAS". A continuación debes describir el problema y adjuntar los datos de la respuesta correspondiente al reclamo, además del enlace a tu encuesta.</li>
                    </ul>
                    Después de haber enviado el correo, el equipo revisará los antecedentes y realizará el castigo o notificación correspondiente.
                    <br>
                    El castigo puede ir desde una reducción de los puntos del usuario correspondiente hasta el bloqueo temporal de su cuenta.
                </div>
            </div>
        </div>
    </div>

    {% block content %}

    {% endblock %}

    <!-- content's view end -->


    <!-- footer seccion starts -->
    <footer class="footer">
    </footer>

    <div class="reportar-info-btn" onclick="reportar()">¡ REPORTAR MAL USO !</div>
</body>

<script src="{% static 'javascript/base.js' %}"></script>

</html>