{% extends "encuestas/base.html" %}
{% load static %}

{% block title %} Encuestas {% endblock %}

{% block links %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" media="screen" />
{% endblock %}

{% block cls_encuestas %}active{% endblock %}
{% block cls_encuesta %}{% endblock %}
{% block cls_publicar %}{% endblock %}

{% block content %}
<!-- App's Name -->
<section class="name">
    <h1>Nombre del Sitio</h1>
</section>


<!-- Poll List -->
<section class="ranking_polls">
    <table class="ranking">
        <thead class="parameters">
            <tr>
                <th scope="col" class="poll_rank">Rank</th>
                <th scope="col" class="poll_name">Nombre</th>
                <th scope="col" class="poll_time">Tiempo Restante</th>
                <th scope="col" class="poll_answers">Respondidas</th>
                <th scope="col" class="poll_link">Link</th>
                <th scope="col" class="poll_points"><div class="pts">PUNTOS</div></th>
            </tr>
        </thead>
        <tbody class="polls">
            <tr>
                <th scope="row" class="poll_rank">1</th>
                <td class="poll_name">Encuesta1</td>
                <td class="poll_time">1d</td>
                <td class="poll_answers">12/20</td>
                <td class="poll_link"><a href="/encuesta">Contestar</a></td>
                <td class="poll_points"><div class="pts1">12</div></td>
            </tr>
            {% for encuesta in encuestas %}
            <tr>
                <th scope="row" class="poll_rank">2</th>
                <td class="poll_name">{{ encuesta.nombre }}</td>
                <td class="poll_time">{{ encuesta.plazo }}</td>
                <td class="poll_answers">{{ encuesta.participantes }}</td>
                <td class="poll_link"><a href="/encuesta">{{ encuesta.link }}</a></td>
                <td class="poll_points"><div class="pts1">{{ encuesta.puntos_encuesta }}</div></td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="row" class="poll_rank">3</th>
                <td class="poll_name">Encuesta3</td>
                <td class="poll_time">1d</td>
                <td class="poll_answers">12/20</td>
                <td class="poll_link"><a href="/encuesta">Contestar</a></td>
                <td class="poll_points"><div class="pts1">11</div></td>
            </tr>
            <tr>
                <th scope="row" class="poll_rank">4</th>
                <td class="poll_name">Encuesta4</td>
                <td class="poll_time">1d</td>
                <td class="poll_answers">12/20</td>
                <td class="poll_link"><a href="/encuesta">Contestar</a></td>
                <td class="poll_points"><div class="pts1">10</div></td>
            </tr>
            <tr>
                <th scope="row" class="poll_rank">5</th>
                <td class="poll_name">Encuesta5</td>
                <td class="poll_time">1d</td>
                <td class="poll_answers">12/20</td>
                <td class="poll_link"><a href="/encuesta">Contestar</a></td>
                <td class="poll_points"><div class="pts1">10</div></td>
            </tr>
            <tr>
                <th scope="row" class="poll_rank">6</th>
                <td class="poll_name">Encuesta6</td>
                <td class="poll_time">1d</td>
                <td class="poll_answers">12/20</td>
                <td class="poll_link"><a href="/encuesta">Contestar</a></td>
                <td class="poll_points"><div class="pts1">9</div></td>
            </tr>
            <tr>
                <th scope="row" class="poll_rank">7</th>
                <td class="poll_name">Encuesta7</td>
                <td class="poll_time">1d</td>
                <td class="poll_answers">12/20</td>
                <td class="poll_link"><a href="/encuesta">Contestar</a></td>
                <td class="poll_points"><div class="pts1">9</div></td>
            </tr>
            <tr>
                <th scope="row" class="poll_rank">8</th>
                <td class="poll_name">Encuesta8</td>
                <td class="poll_time">1d</td>
                <td class="poll_answers">12/20</td>
                <td class="poll_link"><a href="/encuesta">Contestar</a></td>
                <td class="poll_points"><div class="pts1">9</div></td>
            </tr>
            <tr>
                <th scope="row" class="poll_rank">9</th>
                <td class="poll_name">Encuesta9</td>
                <td class="poll_time">1d</td>
                <td class="poll_answers">12/20</td>
                <td class="poll_link"><a href="/encuesta">Contestar</a></td>
                <td class="poll_points"><div class="pts1">9</div></td>
            </tr>
            <tr>
                <th scope="row" class="poll_rank">10</th>
                <td class="poll_name">Encuesta10</td>
                <td class="poll_time">1d</td>
                <td class="poll_answers">12/20</td>
                <td class="poll_link"><a href="/encuesta">Contestar</a></td>
                <td class="poll_points"><div class="pts1">8</div></td>
            </tr>
            <tr>
                <th scope="row" class="poll_rank">11</th>
                <td class="poll_name">Encuesta11</td>
                <td class="poll_time">1d</td>
                <td class="poll_answers">12/20</td>
                <td class="poll_link"><a href="/encuesta">Contestar</a></td>
                <td class="poll_points"><div class="pts1">8</div></td>
            </tr>
            <tr>
                <th scope="row" class="poll_rank">12</th>
                <td class="poll_name">Encuesta12</td>
                <td class="poll_time">1d</td>
                <td class="poll_answers">12/20</td>
                <td class="poll_link"><a href="/encuesta">Contestar</a></td>
                <td class="poll_points"><div class="pts1">7</div></td>
            </tr>
            
        </tbody>
    </table>

    <div class="pag">
        <div class="paginacion">
            <a href="#">&laquo;</a>
            <a href="#" class="activo">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">&raquo;</a>
        </div>
    </div>
    
</section>
{% endblock %}