{% extends "encuestas/base.html" %}
{% load static %}

{% block title %} Encuestas {% endblock %}

{% block links %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" media="screen" />
<script src="{% static '/js/filter.js' %}"></script>
{% endblock %}

{% block cls_encuestas %}active{% endblock %}
{% block cls_encuesta %}{% endblock %}
{% block cls_publicar %}{% endblock %}
{% block cls_manual %}{% endblock %}

{% block content %}
<!-- App's Name -->
<section class="name">
    <h1>U-Encuestas</h1>
</section>

<!-- Poll List -->
<section class="ranking_polls">
    <p class="centrado">Filtrar:</p>
    <select name="filtro_respondidas" class="centrado" id="select_respondidas" onchange="filterByAnswered(event)">
        <option value="All">-- TODAS --</option>
        <option value="Not Answered">No contestadas</option>
        <option value="Answered">Contestadas</option>
    </select>
    <table class="ranking">
        <thead class="parameters">
            <tr>
                <th scope="col" class="poll_rank"></th>
                <th scope="col" class="poll_name">Nombre</th>
                <th scope="col" class="poll_time">Tiempo Restante</th>
                <th scope="col" class="poll_answers">Respondidas</th>
                <th scope="col" class="poll_link">Link</th>
                <th scope="col" class="poll_points"><div class="pts">PUNTOS</div></th>
            </tr>
        </thead>
        <tbody class="polls">
            {% for encuesta in page_obj%}
            <tr class="encuesta">
                <th scope="row" class="poll_rank">{{forloop.counter}}</th>
                <td class="poll_name">{{encuesta.nombre}}</td>
                <td class="poll_time">{{encuesta.plazo}}</td>
                <td class="poll_answers">{{encuesta.participantes}}</td>
                <td class="poll_link"><a href="/ver_encuesta?id={{ encuesta.id }}">Contestar</a></td>
                <td class="poll_points"><div class="pts1">{{encuesta.puntos_encuesta}}</div></td>
                <td style="display: none;" class="poll_answered">{{ encuesta.respondida }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pag">
        <div class="paginacion">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo;</a>
                <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}

            <a class="activo">
                {{ page_obj.number }}
            </a>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </div>
    </div>
    
</section>
{% endblock %}