{% extends "encuestas/base.html" %}
{% load static %}

{% block title %} Encuestas {% endblock %}

{% block links %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" media="screen" />
{% endblock %}

{% block cls_encuestas %}active{% endblock %}
{% block cls_encuesta %}{% endblock %}
{% block cls_publicar %}{% endblock %}

{% block content %}
<!-- App's Name -->
<section class="name">
    <h1>Nombre del Sitio</h1>
</section>


<!-- Poll List -->
<section class="ranking_polls">
    <table class="ranking">
        <thead class="parameters">
            <tr>
                <th scope="col" class="poll_rank">Rank</th>
                <th scope="col" class="poll_name">Nombre</th>
                <th scope="col" class="poll_time">Tiempo Restante</th>
                <th scope="col" class="poll_answers">Respondidas</th>
                <th scope="col" class="poll_link">Link</th>
                <th scope="col" class="poll_points"><div class="pts">PUNTOS</div></th>
            </tr>
        </thead>
        <tbody class="polls">
            {% for encuesta in page_obj%}
            <tr>
                <th scope="row" class="poll_rank">{{forloop.counter}}</th>
                <td class="poll_name">{{encuesta.nombre}}</td>
                <td class="poll_time">{{encuesta.plazo}}d</td>
                <td class="poll_answers">{{encuesta.participantes}}/</td>
                <td class="poll_link"><a href="/encuesta?id={{ encuesta.id }}">Contestar</a></td>
                <td class="poll_points"><div class="pts1">{{encuesta.puntos_encuesta}}</div></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pag">
        <div class="paginacion">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo;</a>
                <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            {% endif %}

            <a class="activo">
                {{ page_obj.number }}
            </a>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </div>
    </div>
    
</section>
{% endblock %}