{% extends "encuestas/base.html" %}
{% load static %}

{% block title %} Manual de Uso {% endblock %}

{% block links %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/manual.css' %}" media="screen" />
{% endblock %}

{% block cls_encuestas %}{% endblock %}
{% block cls_encuesta %}{% endblock %}
{% block cls_publicar %}{% endblock %}
{% block cls_manual %}active{% endblock %}


{% block content %}
<section class="base">
    <div class="manual_title">Como usar el sistema</div>

    <div class="manual_body">
        <div class="text-0">
            Bienvenido al sistema de registro de participación estudiantil <b>U-Encuestas</b>. Este sistema tiene por objetivo ayudar a la gente que requiere reunir datos por medio de encuestas, ya sea para ramos, trabajos de título u otros proyectos. Este sitio le ayudará a obtener una mayor cantidad de gente que responda sus encuestas, mediante un incentivo para quienes las contestan.
            <br><br>   
            Este incentivo corresponde a una cierta cantidad de puntos que el sistema te entregará cada vez que contestes una encuesta. Estos puntos luego los podrás utilizar cuando necesites que respondan una encuesta tuya, ofreciéndolos como recompensa para quienes la contesten.
            <br><br>
            Ya veremos cómo funciona el sistema de puntos pero, por ahora, veamos la estructura del sitio.
            <div class="img-0">
                <img src="{% static 'img/trabajando1.png' %}" alt="">
            </div>
            
            En el <b>Inicio</b> podemos ver una barra de navegación que nos llevará a las distintas funcionalidades que provee el sitio. También podemos ver los puntos que tenemos disponibles para usar, así como nuestro nombre de usuario enlazado con u-campus y, lo principal de esta parte del sitio, la lista con todas las encuestas disponibles para responder. Estas encuestas se muestran con su nombre, el tiempo restante por el que estará disponible, la cantidad de personas que la han respondido hasta el momento, un enlace para ir a contestar la encuesta y la cantidad de puntos que ofrece como recompensa.
            <br><br><br>
            <div class="img-0">
                <img src="{% static 'img/trabajando1.png' %}" alt="">
            </div>

            En la página <b>Mis Encuestas</b> podrás encontrar detalles sobre las encuestas que has publicado y tendrás la oportunidad de modificar ciertos parámetros, como la fecha de cierre o los puntos que ofreces. También, podrás eliminar la encuesta si lo estimas conveniente.
            <br><br>
            En esta página también hallarás una lista con todas las encuestas que has contestado, así como los puntos que recibiste por estas.
            <br><br><br>  

            <div class="img-0">
                <img src="{% static 'img/trabajando1.png' %}" alt="">
            </div>

            En la página <b>Publicar Encuestas</b> hallarás un formulario con todo lo necesario para publicar una encuesta. El cómo usarlo se explica <a href="#publicar1">aquí</a>.
            <br><br><br>  

            <div class="img-0">
                <img src="{% static 'img/trabajando1.png' %}" alt="">
            </div>

 
            Finalmente tenemos la página donde se podrá responder la encuesta seleccionada y cobrar la recompensa de puntos. Las instrucciones para hacerlo se encuentran <a href="#responder1">aquí</a>.
        </div>

        


        <div class="manual_title sub-title-1" id="publicar1">
            Como publicar una encuesta
        </div>

        <div class="text-1_0">
            Tarde o temprano, ya sea para una tarea de un ramo, trabajos de título u otros proyectos, surge la necesidad de obtener datos con los que trabajar y para ello creamos una encuesta y nos valemos de la buena voluntad de las personas para que la contesten. Sin embargo, con la ayuda de este sitio podrás hacer tu encuesta más visible y entregar una recompensa a cambio de sus respuestas, facilitando la obtención de datos. Los pasos para publicar una encuesta son los siguientes:  
            <br><br>
        </div>

        <div class="text text-1_1">
            <div class="instruction-1_1">
                <b>1)</b> Creamos una encuesta en un formulario de Google Form y colocamos un código alfa-numérico en el mensaje de cierre de la encuesta (este nos ayudará a asignar los puntos a los usuarios que contesten tu encuesta).
            </div>
            
            <img class="img-1_1" src="{% static 'img/trabajando1.png' %}" alt="">
            
        </div>

        <div class="text text-1_2">
            <div class="instruction-1_2">
                <b>2)</b> Nos dirigimos a la página publicar encuesta, donde se desplegará un formulario para ingresar los datos necesarios para publicar la encuesta en el sistema.
            </div>
            
            <img class="img-1_2" src="{% static 'img/trabajando1.png' %}" alt="">
            
        </div>

        <div class="text text-1_3">
            <div class="instruction-1_3">
                <b>3)</b> Llenamos el formulario. En este se nos pedirá:
                <ul>
                    <li>El nombre de la encuesta</li>
                    <li>Una breve descripción de lo que trata</li>
                    <li>El plazo hasta el cual estará disponible</li>
                    <li>La cantidad mínima de gente que necesitamos que responda</li>
                    <li>Los puntos que estamos dispuestos a ofrecer (estos serán divididos entre la cantidad de respuestas que necesitamos y se nos devolverán los puntos sobrantes si la división no es exacta. La cantidad por default es la cantidad total de puntos que poseemos)</li>
                    <li>El link al google-form donde esta la encuesta</li>
                    <li>El código alfa-numérico que colocamos en el mensaje de cierre de la encuesta</li>
                </ul>
            </div>
            
            <img class="img-1_3" src="{% static 'img/trabajando1.png' %}" alt="">
            
        </div>

        <div class="advice">
            Considera que a los puntos que entregues como recompensa a cada persona el sistema le añadirá una cierta cantidad extra de puntos base. Así mismo, ten en cuenta que entre más puntos ofrezcas de recompensa por persona mayor será el incentivo para que los usuarios la contesten, y también mayor será la visibilidad de tu encuesta en la página pues la lista está ordenada por la cantidad de puntos que ofrece.
            <br><br>
        </div>

        <div class="text text-1_4">
            <div class="instruction-1_4">
                <b>4)</b>  Apretamos publicar y ya aparecerá disponible para ser contestada en la página principal, siendo su posición en la lista la que le corresponde de acuerdo a los puntos ofrecidos.
            </div>
            
            <img class="img-1_4" src="{% static 'img/trabajando1.png' %}" alt="">
            
        </div>

        <div class="text text-1_5">
            <div class="instruction-1_5">
                <b>5)</b>  En el caso que queramos modificar el plazo durante el que está disponible la encuesta o los puntos que ofrece podemos hacerlo desde la página <b>Mis Encuestas</b>. Así mismo, podemos cerrarla antes de que el plazo termine desde esta misma página.
            </div>
            
            <img class="img-1_5" src="{% static 'img/trabajando1.png' %}" alt="">
            
        </div>

        <div class="advice_2">
            En la situación de que contesten la encuesta la cantidad mínima de personas que se necesitaban, el dueño de la encuesta se quedará sin puntos para ofrecer como recompensa. Sin embargo, la encuesta seguirá disponible hasta que se cumpla el plazo ofreciendo como recompensa los puntos base que entrega el sistema, disminuyendo su visibilidad.
            <br><br>
            Por otro lado en el caso de que no se alcancen la cantidad mínima de respuestas requerida antes de finalizar el plazo, los puntos que no hayan sido dados como recompensa se devolverán al dueño de la encuesta.
        </div>
        




        <div class="manual_title sub-title-2" id="responder1">
            Como obtener puntos
        </div>

        <div class="text-2_0">
            Hasta ahora se ha mencionado como publicar una encuesta y como el sistema dará mayor visibilidad a las encuesta que entregan más puntos. Es por esto que es muy importante tener una gran cantidad de puntos a la hora de querer publicar una encuesta, ¿pero de dónde salen estos puntos? El sistema entregará una cantidad de <b>200 puntos</b> a todos los nuevos usuarios, pero estos no serán suficientes si al momento de publicar una encuesta necesitas una gran cantidad de usuarios que la respondan o si necesitas las respuestas muy rápidamente por lo que necesitas que esta tenga una alta visibilidad. Entonces ¿cómo se pueden obtener más puntos? La respuesta es muy simple: respondiendo encuestas y reclamando la recompensa.
            <br><br>
        </div>

        <div class="text text-2_1">
            <div class="instruction-2_1">
                <b>1)</b> Empecemos por seleccionar una encuesta para contestar. Recuerda que la lista está ordenada por la cantidad de puntos que ofrece, por lo que nos conviene seleccionar una de las primeras. En este caso elegimos la "Encuesta1", la cual nos ofrece un total de <b>12 puntos</b>.
                Hacemos clic en contestar y el sistema nos direccionará a ella.
            </div>
            
            <img class="img-2_1" src="{% static 'img/trabajando1.png' %}" alt="">
            
        </div>

        <div class="text text-2_2">
            <div class="instruction-2_2">
                <b>2)</b> Ahora que estamos en la página de la encuesta podemos ver una breve descripción de lo que trata la encuesta, así como la encuesta misma, lista para comenzar.
            </div>
            
            <img class="img-2_2" src="{% static 'img/trabajando1.png' %}" alt="">
            
        </div>

        <div class="text text-2_3">
            <div class="instruction-2_3">
                <b>3)</b> Una vez que ya hayamos finalizado de contestar la encuesta, enviamos las respuestas y, tras ello, nos aparecerá un código en el mensaje final de la encuesta (el cual habrá puesto el creador de la encuesta).
            </div>
            
            <img class="img-2_3" src="{% static 'img/trabajando1.png' %}" alt="">
            
        </div>

        <div class="text text-2_4">
            <div class="instruction-2_4">
                <b>4)</b> Copiamos este código, que en este caso es <b>qwertyuiop123</b> y lo pegamos en el recuadro que aparece debajo de la encuesta.
            </div>
            
            <img class="img-2_4" src="{% static 'img/trabajando1.png' %}" alt="">
            
        </div>

        <div class="text text-2_5">
            <div class="instruction-2_5">
                <b>5)</b> Finalmente enviamos el código y el sistema verificará que sea igual al entregado por el usuario que publicó la encuesta. Si ese es el caso, se nos hará entrega de la recompensa de puntos.
            </div>
            
            <img class="img-2_5" src="{% static 'img/trabajando1.png' %}" alt="">
            
        </div>
    </div>
</section>
{% endblock %}