{% load static %}
{% if messages %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/messages.css' %}" media="screen" />
  <script src="{% static '/js/messages.js' %}"></script>

  {% for message in messages %}
    <div class="notification">
      <div>
        <button type="button" class="close" data-dismiss="alert" onclick="cerrarNotificacion()">
        ×
        </button>
        <strong class="mensaje-notificacion">{{ message }}</strong>
        <a class="link-volver" href="/encuestas">Volver a la página principal</a>
      </div>
    </div>
  {% endfor %}
{% endif %}